<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="../static/css/1.css">
</head>
<body>
<div class="form-style-6" style="width:100%;text-align:center">
<h1>对分易签到 </h1><br><br>
<div class="row">
	<div class="col-md-12 text-center">
		<ul class="menu">
			<li class="active"><a href="index.html"><h2>对分易签到</h2></a></li>
			<li><a href="index2.html"><h2>添加成员</h2></a></li>
			<li><a href="index3.html"><h2>查询成员</h2></a></li>
			<li><a href="index4.html"><h2>删除成员</h2></a></li>
		</ul>
	</div>
</div>
<div class="form-style-6" style="width:100%;text-align:center">
<h2>请输入想要查询的成员姓名</h2><br><br>
<div class="form-style-6" style="width:100%;text-align:center;">
<form action="/select_user" method="POST" >
<input type="text" name="name" placeholder="张三" />
<br>
<input type="submit" name="submit" value="提交" />
</form>
</div>
</body>
</html>